
.vs/Task3/v15/.suo
.vs/Task3/v15/Server/sqlite3/storage.ide
.vs/Task3/v15/Server/sqlite3/storage.ide-shm
.vs/Task3/v15/Server/sqlite3/storage.ide-wal
Task1/Form1.cs
Task1/Form1.Designer.cs
Task1/Map.cs
Task1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Task1/obj/Debug/Task2.csproj.CoreCompileInputs.cache
Task1/Task2.csproj
Task1/Wizards.cs
.vs/Task3/v15/.suo
.vs/Task3/v15/Server/sqlite3/storage.ide
.vs/Task3/v15/Server/sqlite3/storage.ide-shm
.vs/Task3/v15/Server/sqlite3/storage.ide-wal
Task1/Form1.cs
Task1/Form1.Designer.cs
Task1/Map.cs
Task1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Task1/obj/Debug/Task2.csproj.CoreCompileInputs.cache
Task1/Task2.csproj
